<html>

<head>
  <title>PASSPORT AUTHS</title>
  <link rel='stylesheet' href='/asset/bootstrap4.min.css' />
  <link rel='stylesheet' href='/asset/styles.css' />
</head>

<body>
  <div class='container'>
    <div class='col-md-8 offset-md-2'>
      <h1> Passport Auths</h1>
      <a href='/auth/login' class='btn btn-secondary'> Local Login</a>
      <a href='/auth/signup' class='btn btn-secondary'> Local signup</a>
      <a href='/auth/facebook' class='btn btn-primary'> Facebook</a>
      <a href='/auth/google' class='btn btn-danger'> GooglePlus </a>
    </div>
    <div class='col-md-8 offset-md-2' style='margin-top:24px'>
      <p>This is a demo for implementing Passport OAuth in "Tempalte - Server side Rendering". It will be a different approach for APIs.</p> 
      <p> Anyway, do test it!</p> 
    </div>
  </div>
</body>

</html>
